    <!-- start Header Area -->
    <header id="header7" >
        <div class="container-fluid">
            <div  class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div id="logo"  class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    {% if site.lang == "ja" %}                    
                    <a href="/{{ link_ja | relative_url }}">
                        <img class="logo-1" src="{{ 'img/aska_logo_1.svg' | relative_url }}" alt="" title="" 
                           preserveAspectRatio="xMinYMin meet"
                           viewBox="0 0 100 50"
                           x="0px" y="10px" width="100px" height="50px"
                        />
                    </a>
                    <a href="{{ link_ja }}">
                        <img class="logo-2" src="{{ 'img/aska_logo_1.svg' | relative_url }}" alt="" title="" 
                           preserveAspectRatio="xMinYMin meet"
                           viewBox="0 0 100 50"
                           x="0px" y="10px" width="100px" height="50px"
                        />
                    </a>
                    {% else %}
                    <a href="/">
                        <img class="logo-1" src="{{ 'img/aska_logo_1.svg' | relative_url }}" alt="" title="" 
                           preserveAspectRatio="xMinYMin meet"
                           viewBox="0 0 100 50"
                           x="0px" y="10px" width="100px" height="50px"
                        />
                    </a>
                    <a href="/">
                        <img class="logo-2" src="{{ 'img/aska_logo_1.svg' | relative_url }}" alt="" title="" 
                           preserveAspectRatio="xMinYMin meet"
                           viewBox="0 0 100 50"
                           x="0px" y="10px" width="100px" height="50px"
                        />
                    </a>
                    {% endif %}
                </div>
                <div class="nav-wrap d-flex flex-row align-items-center">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                        {% if site.lang == "ja" %}
                            {% capture link_ja %}{{ site.baseurl_root }}ja{{ page.url }}{% endcapture %}
                            <li class="menu-has-children">
                                <a href="#execution">Askaとは？</a>
                            </li>
                            <li>
                                <a href="#unique_feature">プロダクト</a>
                            </li>
                            <li>
                                <a href="#pricing">サービス・価格</a>
                            </li>
                            <li>
                                <a href="#contact">Ask us!</a>
                            </li>
                        {% else %}
                            <li class="menu-has-children">
                                <a href="{{ '/#execution' | relative_url }}">What's Aska?</a>
                            </li>
                            <li>
                                <a href="{{ '/#unique_feature' | relative_url }}">Products</a>
                            </li>
                            <li>
                                <a href="{{ '/#pricing' | relative_url }}">Pricing</a>
                            </li>
                            <li>
                                <a href="{{ '/#contact' | relative_url }}">Ask us!</a>
                            </li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
                <div>
                    <a class="genric-btn" href="{{ site.request-demo }}">{% t hero.product_fixed_image_btn_one_text %}</a>
                </div>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->


