    <!-- Start unique-feature Area -->
    <section id="unique_feature" class="unique-feature-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                        <img src="{{ 'img/aska_logo.svg' | relative_url }}" alt="">
                    </div>
                    <h1>{% t products.title %}</h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 pr-5">
                    <div class="active-execution-carusel">
                        {% for carusel in site.data.unique_feature.main_image_slider %}
                        <img class="img-fluid" src="{{ carusel['image'] | relative_url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 pl-4">

                    <div class="feature-list d-flex flex-row">
                        <div class="icon">
                            <img class="img-fluid" src="{{ 'img/feature/f2.png' | relative_url }}" alt="">
                        </div>
                        <div class="desc ml-40">
                            <a href="{{ item.link }}">
                                <h4 class="mb-20">{% t products.aska.title %}</h4>
                            </a>
                            <p>
                                {% t products.aska.description %}
                            </p>
                        </div>
                    </div>

                    <div class="feature-list d-flex flex-row">
                        <div class="icon">
                            <img class="img-fluid" src="{{ 'img/feature/f3.png' | relative_url }}" alt="">
                        </div>
                        <div class="desc ml-40">
                            <a href="{{ item.link }}">
                                <h4 class="mb-20">{% t products.omp.title %}</h4>
                            </a>
                            <p>
                                {% t products.omp.description %}
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <p>
                        {% t products.note %}
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End unique-feature Area -->
